.example-card {
  max-width: 110px;
  height   : 321px;
  margin   : 15px;

}

.mat-card-image {
  max-width: 94px;
  height   : 120px;
  margin   : inherit;
}

.total-card {
  padding: 0px 10px;
  display: flex;
}


.products-div {
  display           : flex;
  flex-wrap         : wrap;
  flex-direction    : row;
  /* justify-content: space-evenly; */
}

.book-div {
  padding: 20px;
}

#DIV_17 {
  box-sizing        : border-box;
  color             : rgb(117, 117, 117);
  height            : 62px;
  overflow-wrap     : break-word;
  text-align        : left;
  text-decoration   : none solid rgb(117, 117, 117);
  text-size-adjust  : 100%;
  width             : 100%;
  column-rule-color : rgb(117, 117, 117);
  perspective-origin: 135px 31px;
  transform-origin  : 135px 31px;
  caret-color       : rgb(117, 117, 117);
  border            : 0px none rgb(117, 117, 117);
  border-radius     : 0 0 6px 6px;
  font              : normal normal 400 normal 14px / 25.004px Montserrat, sans-serif;
  list-style        : none outside none;
  outline           : rgb(117, 117, 117) none 0px;
  padding           : 10px 20px 20px;
}

#DIV_18 {
  box-sizing        : border-box;
  color             : rgb(117, 117, 117);
  height            : 32px;
  overflow-wrap     : break-word;
  text-align        : left;
  text-decoration   : none solid rgb(117, 117, 117);
  text-size-adjust  : 100%;
  width             : 100%;
  column-rule-color : rgb(117, 117, 117);
  perspective-origin: 115px 16px;
  transform-origin  : 115px 16px;
  caret-color       : rgb(117, 117, 117);
  border            : 1px solid rgb(191, 199, 200);
  border-radius     : 20px 20px 20px 20px;
  font              : normal normal 400 normal 14px / 25.004px Montserrat, sans-serif;
  list-style        : none outside none;
  outline           : rgb(117, 117, 117) none 0px;
}

#A_19 {
  bottom            : 0px;
  box-sizing        : border-box;
  color             : rgb(60, 61, 65);
  display           : block;
  float             : left;
  height            : 30px;
  left              : 0px;
  overflow-wrap     : break-word;
  position          : relative;
  right             : 0px;
  text-align        : center;
  text-decoration   : none solid rgb(60, 61, 65);
  text-size-adjust  : 100%;
  text-transform    : uppercase;
  top               : 0px;
  width             : 50%;
  column-rule-color : rgb(60, 61, 65);
  perspective-origin: 57px 15px;
  transform-origin  : 57px 15px;
  caret-color       : rgb(60, 61, 65);
  border-top        : 0px none rgb(60, 61, 65);
  border-right      : 1px solid rgb(191, 199, 200);
  border-bottom     : 0px none rgb(60, 61, 65);
  border-left       : 0px none rgb(60, 61, 65);
  border-radius     : 20px 0 0 20px;
  font              : normal normal 400 normal 10px / 30px Montserrat, sans-serif;
  list-style        : none outside none;
  outline           : rgb(60, 61, 65) none 0px;
  transition        : all 0.3s ease 0s;
}

.A_20 {
  bottom            : 0px;
  box-sizing        : border-box;
  color             : rgb(60, 61, 65);
  display           : block;
  float             : left;
  height            : 30px;
  left              : 0px;
  overflow-wrap     : break-word;
  position          : relative;
  right             : 0px;
  text-align        : center;
  text-decoration   : none solid rgb(60, 61, 65);
  text-size-adjust  : 100%;
  text-transform    : uppercase;
  top               : 0px;
  width             : 50%;
  column-rule-color : rgb(60, 61, 65);
  perspective-origin: 57px 15px;
  transform-origin  : 57px 15px;
  caret-color       : rgb(60, 61, 65);
  border            : 0px none rgb(60, 61, 65);
  border-radius     : 0 20px 20px 0;
  font              : normal normal 400 normal 10px / 30px Montserrat, sans-serif;
  list-style        : none outside none;
  outline           : rgb(60, 61, 65) none 0px;
  transition        : all 0.3s ease 0s;
}

#DIV_7 {
  display           : flex;
  /* justify-content: center; */
  flex-direction    : column;
  align-items       : center
}

#SPAN_9 {
  font-style: italic;
  color     : gray;
}

.users-list {
  float : right;
  margin: 12px;
}

.main-div {
  display       : flex;
  flex-direction: column;
}

.check-buttons {
  display        : flex;
  justify-content: space-evenly;
  align-items    : center;
}

.addbtn {
  float       : right;
  margin-right: 43px;
}


.txt-elipsis {
  text-overflow: ellipsis;
  overflow     : hidden;
  white-space  : nowrap;
  width        : 250px;
}

.desc{
  height: 60px;
    overflow: hidden;
    width: 250px;
}