<div class="navbar">
  <app-navigationbar></app-navigationbar>
</div>
<div class="main-div">
  <div>
    <button mat-raised-button class="float-right" color="primary" (click)="addUser()">
      <mat-icon>add_circle</mat-icon> AddUser
    </button>
  </div>
  <div *ngIf="showTable" class="main-table">
    <table mat-table [dataSource]="dataSourceUsers" class="mat-elevation-z8">
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef> User Id</th>
        <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>

      <ng-container matColumnDef="isAdmin">
        <th mat-header-cell *matHeaderCellDef> IsAdmin </th>
        <td mat-cell *matCellDef="let element"> {{element.isAdmin}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="fine">
        <th mat-header-cell *matHeaderCellDef> Fine </th>
        <td mat-cell *matCellDef="let element"> {{ element.fine | currency : "USD"}} </td>
      </ng-container> -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>